.downloadbutton:focus {
    outline: none;
}

.downloadbutton {
    display: inline-block;
    margin-left: 25%;
    margin-bottom: 2.5%;
    width: 13.7%;
    height: 3.9vw;
    line-height: 3.9vw;
    font-family: 'GlacialIndifference Regular';
    font-size: 1.8vw;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #121212;
    background-color: var(--acc);
    box-shadow: 6px 6px 0px #0a0a0a;
    border: none;
    border-radius: 999px;
    text-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0;
    transition: background-image, font-size 0.25s, background-size 0.5s;
}

#src {
    float: right;
    margin-left: 0;
    margin-right: 25%;
}

.downloadbutton:hover {
    background-image: url('../Images/Icons/darrow.svg');
    background-size: 5.2vw;
    font-size: 0;
}

.content-image {
    max-width: 77.5%;
    margin-right: 10%;
    margin-left: 11.5%;
    margin-top: 5%;
    margin-bottom: 50px;
    box-shadow: 8px 8px #0a0a0a;
}

p, h2 {
    text-align: justify;
    align-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0;
    font-family: 'Poppins Regular';
    font-size: 21px;
    color: #eeeeee;
    line-height: 1.5;
}

h2 {
    font-size: 50px;
    text-align: center;
    font-family: 'GlacialIndifference Regular';
}

.textlink {
    text-decoration: none;
    color: var(--acc);
    filter: brightness(0.8);
    transition: background-color 0.5s, color 0.5s;
}

.textlink:hover {
    background-color: var(--acc);
    color: #eeeeee;
}

@media only screen and (max-width: 850px) {

    p {
        font-size: 4vw;
        line-height: 1.2em;
        margin: 0 5%;
    }

    h2 {
        font-size: 8vw;
        margin-bottom: 5%;
    }
}
