:root {
    --bg: #121212;
    --lbg: #1C1C1C;
}

html {
    width: 100%;
    height: 100%;
}

::selection {
    background-color: var(--accent);
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    margin: 0;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #0a0a0a;
}

/*.background-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--accent);
    opacity: 0.75;
}*/


/*.background {
    background-repeat: repeat-y;
    background-position-x: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
} */

/*.left-overlay {
    width: 16.2%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
} */

/*.right-overlay {
    width: 16.2%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75);
} */

.content {
    background-color: #121212;
    height: auto;
    width: 66.66666%;
    margin-top: 7.41vh;
    margin-left: 16.666%;
    padding-bottom: 2%;
    z-index: 2;
    border-left: 2px solid;
    border-right: 2px solid;
    border-image: linear-gradient(to bottom, var(--accent), #121212) 1 100%;
}

@media only screen and (max-width: 850px) {

    .wrapper {
        height: 300vh;
    }

    .headernav {
        font-size: 3vw;
        line-height: 7.41vw;
    }

    header {
        height: 7.41vw;
    }

    img.logo {
        height: 5vw;
    }

    .left-overlay {
        width: 0;
    }

    .right-overlay {
        width: 0;
    }

    .content {
        margin-top: 7.41vw;
    }
}

@media only screen and (max-width: 1440px) {

    .left-overlay {
        width: 0;
    }

    .right-overlay {
        width: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
        border: none;
    }
}