.wrapper {
    margin: 0;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #0a0a0a;
}

.content {
    background-color: #121212;
    height: auto;
    width: 66.66666%;
    margin-top: 7.41vh;
    margin-left: 16.666%;
    padding-bottom: 2%;
    z-index: 2;
    border-left: 2px solid;
    border-right: 2px solid;
    border-image: linear-gradient(to bottom, var(--acc), #121212) 1 100%;
    animation: 1s slide-in;
}

@keyframes slide-in {
  0% {
    padding-top: 100vh;
  }
  100% {
    padding-top: 0;
  }
}

@media only screen and (max-width: 850px) {

    .wrapper {
        height: 300vh;
    }

    .headernav {
        font-size: 3vw;
        line-height: 7.41vw;
    }

    header {
        height: 7.41vw;
    }

    img.logo {
        height: 5vw;
    }

    .left-overlay {
        width: 0;
    }

    .right-overlay {
        width: 0;
    }

    .content {
        margin-top: 7.41vw;
    }
}

@media only screen and (max-width: 1440px) {

    .left-overlay {
        width: 0;
    }

    .right-overlay {
        width: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
        border: none;
    }
}
